{% extends 'layout/base.html' %}
{% load static %}.
<!-- templates/404.html -->
{% block content %}
<!DOCTYPE html>harset-UTF-
<html lang="en">
<head>
    <meta-charset-UTF-8">
    <meta-charset-UTF-8 http-equiv="Content-Type" content="text/html;">
    <title>Page Not Found</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding: 50px; }
        h1 { font-size: 50px; }
        p { font-size: 20px; }
    </style>
</head>
<body>
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you are looking for does not exist.</p>
    <a href="{% url 'personal' %}">Go to dETAIED Page</a>
    
</body>
</html>
{% endblock %}